{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" href="../static/ccs/stylesheet-main.css">
{% endblock style %}

{% block content %}
    <!-- Display the Map -->
    <div class="container-fluid p-0 bg-body-secondary">
        <div id="map" style="height: calc(89vh); width: 100%;"></div>
        <!-- Eatery Selection Form (Hidden) -->
        <form id="eatery-selection-form" action="/" method="POST" style="display:none;">
            <input type="hidden" name="selected_eatery" id="selected-eatery">
        </form>
    </div>
{% endblock content %}